@{
    ViewData["Title"] = "Медичний аналіз тексту";
}

<h2>Аналіз медичного тексту</h2>

<form method="post">
    <div class="form-group">
        <label for="inputText">Введіть текст для аналізу:</label>
        <textarea class="form-control" id="inputText" name="inputText" rows="5"></textarea>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Аналізувати</button>
</form>