@{
    ViewData["Title"] = "NER: Введіть текст";
}

<h2>Named Entity Recognition (NER)</h2>

<form method="post">
    <div class="form-group">
        <label for="inputText">Введіть текст:</label>
        <textarea name="inputText" class="form-control" rows="6"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Розпізнати сутності</button>
</form>
