<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5116d5b8-5bdd-42c8-acef-835ede53b5fe/resourceGroups/Lab_works/providers/Microsoft.Web/sites/WebApplicationlab20250401115816</ResourceId>
    <ResourceGroup>Lab_works</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplicationlab20250401115816.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cacc7ad7-c097-4378-8bcf-6a1160e087ae</ProjectGuid>
    <PublishUrl>https://webapplicationlab20250401115816.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplicationlab20250401115816</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>